.productListImage {
  width: 180px
}

.antcard {
  background: #fff;
  border-radius: 2px;
  font-size: 12px;
  position: relative;
  transition: all .3s;
  height: 380px;
  margin-top: 8px;
  margin-bottom: 8px;
}


.pagnation{
  float: right;
  margin-right:10%;
  width:550px;
}

.sortby{
  float: left;
  margin-left: 8%;
}

.normal {

}


.custom-image img {
    display: block;
  }
  .custom-card {
    padding: 10px 16px;
  }
  .custom-card p {
    color: #999;
  }

  .exampleSpin {
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
