
.normal {
}
.productImage {max-width:300px!important;height:auto;}
#product-img-zoom {text-align: center; margin-top: 3px;}
#product-img-zoom a {color: #333; text-decoration: none; padding-left: 20px; font-size: 90%;}
#product-img-zoom a:hover {text-decoration: underline;}
.productDetails 
{
    margin-left: 8%; margin-top: 20px;
}
.productPrice {
    font-weight: bold;
    font-size: 14px;
    color: #ed0a0a;
    font-family: cabinmedium;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 19px
}